<footer class="site-footer mt-bottom">
    <div class="site-footer__top">
        <div class="container-fluid px-4">
            <div class="row">
                <!-- Company Info -->
                <div class="col-md-4 site-footer__column">
                    <h5 class="site-footer__title">Proyek Saya</h5>
                    <p class="site-footer__item">
                        <i class="bi bi-geo-alt-fill"></i>
                        Jl. Teknisi Digital No. 123, Jakarta Selatan
                    </p>
                    <p class="site-footer__item">
                        <i class="bi bi-envelope-fill"></i>
                        info@proyeksaya.com
                    </p>
                    <p class="site-footer__item">
                        <i class="bi bi-telephone-fill"></i>
                        +62 812 3456 7890
                    </p>
                </div>
                <!-- Footer Menu -->
                <div class="col-md-2 site-footer__column">
                    <h5 class="site-footer__title">Menu</h5>
                    <ul class="site-footer__list">
                        <li><a href="#" class="site-footer__link">Home</a></li>
                        <li><a href="#" class="site-footer__link">Fitur</a></li>
                        <li><a href="#" class="site-footer__link">Harga</a></li>
                    </ul>
                </div>
                <!-- Help Menu -->
                <div class="col-md-2 site-footer__column">
                    <h5 class="site-footer__title">Bantuan</h5>
                    <ul class="site-footer__list">
                        <li><a href="#" class="site-footer__link">FAQ</a></li>
                        <li><a href="#" class="site-footer__link">Kontak</a></li>
                        <li><a href="#" class="site-footer__link">Privasi</a></li>
                    </ul>
                </div>
                <!-- Social Media -->
                <div class="col-md-4 site-footer__column site-footer__social">
                    <h5 class="site-footer__title">Ikuti Kami</h5>
                    <a href="#" class="site-footer__social-link">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="#" class="site-footer__social-link">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="site-footer__social-link">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="#" class="site-footer__social-link">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="site-footer__bottom">
        <div class="container text-center">
            <small>
                &copy; 2025 Perusahaan Anda. All Rights Reserved.
            </small>
        </div>
    </div>
</footer>